<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<p th:text="${hello}"></p>
<form id="login-from" th:action="@{/test/hello}">
    <button>go</button>
</form>
<p th:text="${user.name}"></p>

<tr th:each="element:${list}">
    <td th:text="${element}"></td>
</tr><br>

<tr th:each="user:${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:if="${user.id<1}">id大于1</td>
    <td th:text="${user.address}"></td><br>

</tr>

<tr th:each="entry:${dataMap}">
    <td th:text="${entry.key}"></td>
    <td th:text="${entry.value}"></td>
    <br>

    <td th:text="|${entry.value} ${entry.key}|"></td>

</tr>

<sp th:text="${#dates.format(now,'yyyy-mm-dd-hh-ss')}"></sp>
</body>
</html>